<!-- email_version 0427 -->
<table style="width:100%;border-collapse:collapse;" cellspacing="0" width="100%">
  <tr>
    <td align="center" width="630" style="width:630px;background-color:#F7F8FA;margin:40px auto;padding:41px 41px 120px 41px;font-family:-apple-system,BlinkMacSystemFont,'Helvetica Neue','Apple SD Gothic Neo',Arial,sans-serif,'Malgun Gothic', '맑은 고딕', '맑은고딕', Dotum" background="#F7F8FA">
      <table style="background-color:#FFF;width:630px;font-family:-apple-system,BlinkMacSystemFont,'Helvetica Neue','Apple SD Gothic Neo',Arial,sans-serif,'Malgun Gothic', '맑은 고딕', '맑은고딕', Dotum;border-collapse:collapse;" cellspacing="0" cellpadding="0" background="#FFF">
        <tr>
          <td style="padding:30px 30px 70px 30px">
            <table width="630" style="background-color:#FFF;width:630px;font-family:-apple-system,BlinkMacSystemFont,'Helvetica Neue','Apple SD Gothic Neo',Arial,sans-serif,'Malgun Gothic', '맑은 고딕', '맑은고딕', Dotum;border-collapse:collapse;" cellspacing="0" cellpadding="0" background="#FFF">
              <tr>
                <td valign="top" height="70">
                  <img src="https://gip.gsretail.com/images/logo_gip.jpg" alt="" width="145" height="20" />
                </td>
              </tr>
              <tr>
                <td valign="top" height="110" style="line-height:27px;font-size:15px;font-family:-apple-system,BlinkMacSystemFont,'Helvetica Neue','Apple SD Gothic Neo',Arial,sans-serif,'Malgun Gothic', '맑은 고딕', '맑은고딕', Dotum">
                  안녕하세요. <span style="font-weight:bold">GIP 대시보드</span>입니다.<br />
                  인증번호를 안내 드립니다.<br />
                  아래 번호를 인증번호 입력란에 입력해 주세요.
                </td>
              </tr>
              <tr>
                <td height="1" style="line-height:0;font-size:0;background-color:#E3E4E7;padding:0" background="#E3E4E7"></td>
              </tr>
              <tr>
                <td height="90" valign="middle">
                  <table style="font-family:-apple-system,BlinkMacSystemFont,'Helvetica Neue','Apple SD Gothic Neo',Arial,sans-serif,'Malgun Gothic', '맑은 고딕', '맑은고딕', Dotum;border-collapse:collapse;">
                    <tr>
                      <td width="78" style="font-weight:bold;font-size:15px;">인증번호</td>
                      <td style="font-weight:bold;font-size:15px;">12345</td><!-- 인증번호 -->
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td height="1" style="line-height:0;font-size:0;background-color:#E3E4E7;padding:0" background="#E3E4E7"></td>
              </tr>
              <tr>
                <td>
                  <table style="margin-top:34px;border-collapse:collapse;" cellspacing="0">
                    <tr>
                      <td width="25" style="text-align:center;line-height:17px;font-size:14px;padding:0;" height="28" valign="top">•</td>
                      <td style="line-height:20px;font-size:14px;padding:0;font-family:-apple-system,BlinkMacSystemFont,'Helvetica Neue','Apple SD Gothic Neo',Arial,sans-serif,'Malgun Gothic', '맑은 고딕', '맑은고딕', Dotum" valign="top">개인정보 보호를 위해 유효시간까지 인증이 완료되지 않으면 다시 인증을 받으셔야 합니다.</td>
                    </tr>
                    <tr>
                      <td width="25" style="text-align:center;line-height:17px;font-size:14px;padding:0;" height="28" valign="top">•</td>
                      <td style="line-height:20px;font-size:14px;padding:0;font-family:-apple-system,BlinkMacSystemFont,'Helvetica Neue','Apple SD Gothic Neo',Arial,sans-serif,'Malgun Gothic', '맑은 고딕', '맑은고딕', Dotum" valign="top">본 메일은 발신전용 메일입니다.</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      
      <table width="690" style="width:690px;margin-top:18px;color:#8F959D;font-size:13px;line-height:19.5px;border-collapse:collapse;" cellspacing="0">
        <tr>
          <td style="font-size:12px;color:8F959D;font-family:-apple-system,BlinkMacSystemFont,'Helvetica Neue','Apple SD Gothic Neo',Arial,sans-serif,'Malgun Gothic', '맑은 고딕', '맑은고딕', Dotum">
            ㈜GS리테일 대표이사 : 허연수,김호성 | 주소 : 서울특별시 강남구 논현로 508 GS강남타워(역삼679번지 GS타워)<br />
            사업자등록번호 : 116-81-18745 | 통신판매등록번호 : 제2014-서울강남-01544호<br />
            <br />
            Copyright © GSretail Co. Ltd., ALL Right Reserved.
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>