:root {
  --ti-cursor-color: rgba(0, 145, 255, 0.6);
  --ti-cursor-margin-left: 4px;
  --ti-cursor-font-weight: 500;
}
.about {
  background-color: #F7F8FA;
  color:#333;
  min-width: 1228px;
}
.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #FFF;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
  z-index: 9999;
  height: 58px;
  min-width: 1200px;
}

.header h1.logo {
  position: absolute;
  left: 0;
  top: 19px;
}
.header h1.logo img {
  width: 69px;
  height: 18px;
}
.headerLogin {
  position: absolute;
  top: 11px;
  right: 0;
}
.blueButton {
  border: none;
  background: #0091FF;
  width: 140px;
  height: 34px;
  border-radius: 4px;
  color: #FFF;
  line-height: 34px;
  font-size: 14px;
  cursor: pointer;
  transition: .3s background;
}
.blueButton:hover {
  background: #D9EEFF;
}
.wrapper {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  height: inherit;
}
.mainWrapper {
  background-image: url(../../Images/about/bgMainVisual.jpg);
  background-size: auto 100%;
  height: calc(100vh - 58px);
  max-height: 900px;
}
.mainVisual {
  width: 100%;
  background-position: top center;
  background-image: url(../../Images/about/mainVisual-min.jpg);
  background-repeat: no-repeat;
  height: calc(100vh - 58px);
  max-height: 900px;
  background-size: auto 100%;
  min-height: 620px;
  min-width: 1200px;
}
.mainVisual .wrapper {
  height: calc(100vh - 58px);
  max-height: 900px;
}
.mainVisual .text01 {
  color: #0091FF;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
.mainVisual .text02 {
  margin-top: 6px;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #333;
}
.mainVisual .button {
  padding-top: 60px;
}
.mainVisual .button button {
  width: 200px;
  height: 60px;
  line-height: 54px;
  font-size: 20px;
  font-weight: 700;
}
.mainTextBox {
  position: absolute;
  height: 348px;
  top: 50%;
  margin-top: -192px;
}

.section01 {
  height: 900px;
  padding-top: 120px;
}
.section01 .wrapper {
  height: auto !important;
}
.typingWrap {
  width: 692px;
  height: 88px;
  border-radius: 10px;
  border: 4px solid #0091FF;
  background-color: #0091FF;
  margin: 60px auto 0;
  position: relative;
  overflow: hidden;
}
.typingWrap .typeing {
  font-size: 30px;
  line-height: 80px;
  height: 80px;
  padding-left: 22px;
  background-color:#FFF;
}
.typingWrap .iconSearch {
  position: absolute;
  top:0;
  right:0;
  background-color: #0091FF;
  width:84px;
  height:80px;
  background-image:url(../../Images/about/iconSearch.png);
  background-size: 48px 48px;
  background-position: center center;
  background-repeat: no-repeat;
}
.section01 .text {
  margin-top: 60px;
  text-align: center;
  font-size: 48px;
  line-height: 64px;
  font-weight: 700;
}
.slideImage {
  position:relative;
  display:flex;
  align-items: center;
  justify-content: center;
  padding-top: 72px;
  min-width: 1200px;
  overflow: hidden;
}
.slideImage .image{
  display: flex;
  min-width: 1200px;
  overflow: hidden;
}
.slideImage:before {
  width: 180px;
  background: linear-gradient(270deg, rgba(247, 248, 250, 0) 49.91%, #F7F8FA 100%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  z-index: 8888;
  content: "";
}
.slideImage:after {
  width: 180px;
  background: linear-gradient(90deg, rgba(247, 248, 250, 0) 49.91%, #F7F8FA 100%);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: block;
  z-index: 8888;
  content: "";
}
.slideImage > div {
  flex: 0 0 388px;
  margin: 0 -18px;
}
.slideImage img {
  width: 388px;
  height: auto;
}

.section02 {
  background-color:#FFF;
  min-height: 620px;
}
.textBox {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -170px;
  margin-left: -600px;
}
.textBox .subTitle {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color:#76819E;
}
.textBox .title {
  margin-top:6px;
  font-size:40px;
  line-height:56px;
  font-weight: 700;
}
.textBox .title .blue {
  color:#0091FF;
}
.textBox ul {
  margin-top: 11px;
}
.textBox li {
  padding: 5px 0;
  background-image:url(../../Images/about/iconCheck.png);
  background-size: 24px 24px;
  background-position:left 7px;
  background-repeat:no-repeat;
  padding-left: 30px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #666;
}
.pageable{
  height: calc(100vh - 58px);
  min-height: 620px;
  position: relative;
  min-width: 1200px;
  background-color: #FFF;
}
.imgBox {
  position: absolute;
  top:50%;
  left:50%;
  margin-left: 38px;
  margin-top: -310px;
  height: 620px;
}
.imgBox img {
  width: 572px;
}
.section02 {
  min-height:620px;
}
.section02 .imgBox {
  right: 0;
}
.section03 {
  min-height:620px;
}
.section03 .imgBox {
  left: 50%;
  margin-left: -600px;
}
.section03 .textBox {
  left: 50%;
  margin-left: 34px;
  margin-top: -176px
}
.section04 {
  min-height:620px;
}
.section04 .imgBox {
  right: 0;
}
.section04 .textBox {
  margin-top: -180px
}
.section05 {
  background-color: #F7F8FA;
  height: 664px;
}
.section05 .title {
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  padding-top: 100px;
  text-align: center;
}
.section05 ul {
  padding-top: 65px;
  display: flex;
  width: 1200px;
  justify-content: center;
}
.section05 ul li {
  flex:0 0 380px;
}
.section05 ul li .image {
  text-align: center;
}
.section05 ul li .image img {
  width: 200px;
  height: 200px;
}
.section05 ul li .title {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  padding-top: 23px;
}
.section05 ul li .contents {
  text-align: center;
  padding-top: 6px;
  font-size: 16px;
  line-height: 26px;
}
.section06 {
  background-color:#FFF;
  height: 296px;
}
.section06 .siteWrap {
  position:absolute;
  left:0;
  top:100px;
}
.section06 .siteWrap .contents01 img{
  width:140px;
}
.section06 .siteWrap .contents02 {
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  padding-top: 20px;
  color: #4c4c4c;
}
.section06 .buttonWrap {
  position:absolute;
  right:0;
  top:50%;
  margin-top:-30px;
}
.section06 .buttonWrap button {
  width: 200px;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  line-height: 54px;
}
.footer {
  background-color: #F7F8FA;
  height: 159px;
}
.footer .footerLogo {
  position:absolute;
  top: 34px;
  left: 0;
}
.footer .footerLogo img {
  width: 57px;
}
.footer .copyright {
  position:absolute;
  right: 0;
  top: 50%;
  margin-top: -10px;
  font-size: 13px;
  height: 20px;
  line-height: 20px;
  color: #B1B5BA;
}
.footerLink {
  position:absolute;
  left:0;
  top: 50%;
  margin-top: -10px;
  display:flex;
}
.footerLink a {
  font-size: 13px;
  line-height: 20px;
  height: 20px;
  display: block;
  color: #333;
}
.footerLink a:hover,
.footerLink a:active {
  color: #333;
}
.footerLink a.buttonMail {
  background-image:url(../../Images/about/iconMail.png);
  background-repeat: no-repeat;
  background-size: 20px;
  height: 20px;
  padding: 0 0 0 20px;
  color:#7A7D81;
}
.footerLink li{
  position: relative;
  padding: 0 10px 0 0;
}
.footerLink li + li {
  padding: 0 0 0 10px;
}
.footerLink li + li:before {
  position: absolute;
  content: "";
  left: 0;
  top: 6px;
  height: 9px;
  width: 1px;
  background-color: #E3E4E7;
}